## Build artifacts
# Cargo
/target
/Cargo.lock

# Build script and config
build.rs
.cargo/config.toml

# Debugging and Developer tooling
tests/
tools/

# Environment
.env*
!.env.dev

# Internal specifications
/.spec

# Internal files and resources, such as test DLLs, which are quite large
# Test DLLs, such as `ntdll.dll` or `advapi32.dll` can be found in "C:\Windows\System32"
/.internal

## Editor / IDE
# VSCode / Codium
.vscode

# JetBrains
.idea/
